{% comment %}
  Latest Blog Component
  Displays recent blog series landing pages on homepage
{% endcomment %}

{% if page.latest_blog %}
  {% if page.latest_blog.limit %}
    {% assign blog_limit = page.latest_blog.limit %}
  {% else %}
    {% assign blog_limit = 3 %}
  {% endif %}

  {% assign blog_entries = site.blog | where: 'series_landing', true | sort: 'date' | reverse %}

  <div class="latest-blog">
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        {% for post in blog_entries limit: blog_limit %}
          <tr>
            <th scope="row" style="width: 20%">
              {% include date_format.liquid format='short' date=post.date %}
            </th>
            <td>
              <a class="blog-title" href="{{ post.url | relative_url }}">
                {{ post.title }}
              </a>
              {% if post.description %}
                <div class="blog-description">{{ post.description }}</div>
              {% endif %}
              {% if post.series_total > 1 %}
                <div class="blog-meta">
                  <span class="badge badge-series">{{ post.series_total }} parts</span>
                  <span class="series-parts">
                    {% assign series_posts = site.blog
                      | where: 'series_id', post.series_id
                      | where_exp: 'p', 'p.series_landing != true'
                      | sort: 'series_part'
                    %}
                    {% for part in series_posts %}
                      <a href="{{ part.url | relative_url }}" class="part-link">{{ part.series_part }}</a>
                    {% endfor %}
                  </span>
                </div>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>

    <div class="blog-actions">
      <a href="{{ '/blog/' | relative_url }}" class="btn btn-sm btn-outline-primary"> All Blog Posts </a>
    </div>
  </div>

{% else %}
  <p>{{ site.data[site.active_lang].strings.no_posts }}</p>
{% endif %}
